/* @font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/latolatomedium.woff2') format('woff2'), url('../fonts/latolatomedium.woff') format('ttf'), url('../fonts/latolatomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */

/*

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-Semibold'), url('../fonts/latosemibold.woff2') format('woff2'), url('../fonts/latosemibold.woff') format('woff'), url('../fonts/latosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} */

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis/Metropolis-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

/*
    main-color:  #01996D;
    dark-background: #245852;
    hover: #00835e;
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* header start */

.header {
    position: relative;
}

.header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    padding-bottom: 17px;
}

.menu {
    margin: 0 auto;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
}

.menu__link {
    color: #292929;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.menu__link:hover {
    color: #01996D;
}

.menu__list li:not(:last-child) {
    margin-right: 52px;
}

.menu-open {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    cursor: pointer;
}

.menu-open {
    z-index: 999;
}

.btn-sign-in {
    font-size: 20px;
    line-height: 24px;
    border: none;
    background-color: inherit;
    margin-right: 35px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.btn-sign-in:hover {
    color: #01996D;
}

.btn-trial {
    font-size: 20px;
    color: #fff;
    line-height: 25px;
    background-color: #01996D;
    padding: 13px 50px;
    border-radius: 4px;
    border: none;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.btn-trial:hover {
    background-color: #00835e;
}

.divider {
    left: 100%;
    right: -100%;
    top: 1.69%;
    bottom: 98.31%;
    border: 1px solid #D6D6D6;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

/*header end* /

/* intro start */

.intro {
    background: url('../img/background.png') center no-repeat;
    background-size: cover;
    height: 895px;
    padding-top: 175px;
    overflow: hidden;
}

.headline {
    width: 440px;
}

.intro__title {
    color: #01996D;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
}

.intro__subtitle {
    width: 420px;
    font-size: 20px;
    line-height: 31px;
}

.intro__btn {
    margin-top: 18px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    background: #01996D;
    border: 1px solid #515a58;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 50px;
    text-transform: capitalize;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border: none;
}

.intro__btn:hover {
    background-color: #00835e;
}

/* intro end*/

/* features start*/

.features__pre-title {
    color: #424242;
    margin-top: 182px;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
}

.features__title{
    color: #01996D;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    max-width: 584px;
}

.features__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.features__description-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    max-width: 671px;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    position: relative;
    max-width: 390px;
    margin-right: 65px;
}

.cards .card:nth-child(1) {
    margin-top: 180px;
}

.cards .card:nth-child(2) {
    margin-top: 420px;
}

.cards .card:nth-child(3) {
    margin-top: 160px;
}

.card__body {
    position: relative;
}

.card__title {
    text-align: center;
}

.card__number_01 {
    bottom: 70px;
	left: 30px;
}

.card__number_02 {
	bottom: 55px;
	left: 20px;
}

.card__number_03 {
    bottom: 55px;
	left: 30px;
}

.card__number {
    position: absolute;
    display: inline-block;
    width: 157px;
    height: 225px;
	font-family: Georgia;
	font-size: 150px;
	line-height: 150%;
	text-align: center;
	color: rgba(1, 153, 109, 0.2);
}

.card__number_01 {
    bottom: 70px;
	left: 30px;
}

.card__text {
    margin: 55px 0;
}

/* features end*/

/* success start*/

.success {
    background-color: #245852;
}

.success__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 129px;
    padding-bottom: 129px;
    color: #fff;
}

.success__title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    max-width: 580px;
}

.success__subtitle {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    max-width: 550px;
}

.success__start-btn {
    margin-top: 57px;
    margin-bottom: 37px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    padding: 20px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.success__start-btn:hover {
    background-color: #00835e;
}

.video {
    background: url('../img/Video.png') no-repeat;
    width: 716px;
    height: 416px;
    background-size: contain;
    cursor: pointer;
}

/* success end*/


/* product start */

.product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 120px;
}

.product__image {
    position: relative;
    margin-bottom: 150px;
    background: url('../img/product-image.png') center no-repeat;
    width: 638px;
    height: 573px;
}

.product__card {
    -webkit-filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
            filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
    background-color: #fff;
    position: absolute;
    width: 296.14px;
    height: 293.9px;
    border-radius: 3px;
    text-align: center;
    bottom: -74px;
    left: -15px;
    padding: 25px 0;
}

.product__card-inner {
    margin: 0 auto;
    width: 95%;
}

.product__card-title {
    position: relative;
    font-weight: 600;
    font-size: 14.49px;
    line-height: 157%;
}

.product__card-title::before {
    content: "";
    position: absolute;
    width: 110.49px;
    top: 24px;
    border: 0.74px solid #000000;
}

.product__card-user-name {
    font-size: 12px;
    line-height: 157%;
    margin-bottom: 20px;
}

.product__card-avatar {
    margin: 13px auto 10px auto;
    background: url('../img/product-image.png') center no-repeat;
    border-radius: 50%;
    background-size: cover;
    width: 57px;
    height: 57px;
}

.list-title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    line-height: 157%;
}

.product__card-list {
    list-style-type: disc;
    list-style-position: inside;
    
}


.product__card-item {
    text-align: left;
    font-size: 11px;
    line-height: 157%;
}

.product__pre-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}
.product__title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    max-width: 584px;
}
.product__subtitle {
    max-width: 530px;
    font-size: 20px;
    line-height: 31px;
}
.product__btn {
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    padding: 20px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.product__btn:hover {
    background-color: #00835e;
}

/* product end*/


/* footer start */

.footer {
    margin-top: 168px;
    background-color: #245852;
    color: #fff;
    padding-top: 95px;
    padding-bottom: 144px;
}

.footer__title {
    font-family: 'Metropolis', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
}
.footer__menu {
    list-style: none;
}
.menu__item {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin: 60px 0;
}

.footer__menu .menu__link {
    color: #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.footer__menu .menu__link:hover {
    color: #01996D;
}

.menu__item:last-child {
    margin: 0;
}

/* footer end*/


@media (max-width: 1390px) {
    .features__description-text {
        margin-left: 0;
        margin-top: 35px;
    }
}

@media (max-width: 1230px) {
    .menu__list li:not(:last-child) {
        margin-right: 35px;
    }

    .product__container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}


@media (max-width: 1005px) {
    .cards {
        justify-content: center;
    }

    .card {
        margin-right: 20px;
    }
}

@media (max-width: 938px) {
    .header__container {
        display: block;
    }

    .menu-open {
        position: absolute;
        right: 0;
        display: inline-block;
        float: right;
        visibility: visible;
    }

    .menu, .header__buttons {
        display: none;
    }

    .menu-respnosive {
        display: block;
        margin: 0;
    }

    .menu__list-responsive {
        display: block;
        margin-top: 28px;
    }

    .menu__list-responsive > li {
        margin-top: 15px;
        margin-right: 0 !important;
        transition: .4s;
    }

    .menu__list-responsive > li:hover {
        background-color: rgb(235, 235, 235);
    }

    .header__buttons-responsive {
        display: block;
        margin-top: 15px;
    }
}

@media (max-width: 900px) {
    .intro__title {
        font-size: 50px;
    }

    .intro__subtitle,
    .intro__btn,
    .features__description-text,
    .success__start-btn,
    .product__subtitle,
    .product__btn {
        font-size: 16px;
    }

    .features__pre-title,
    .success__subtitle,
    .product__pre-title,
    .menu__item {
        font-size: 20px;
    }

    .features__title,
    .success__title,
    .product__title {
        font-size: 44px
    }

    .cards {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .cards .card:nth-child(1),
    .cards .card:nth-child(2),
    .cards .card:nth-child(3) {
        margin-top: 160px;
    }

    .footer__title {
        font-size: 34px;
    }
}

@media (max-width: 810px) {
    .intro {
        height: 500px;
        padding-top: 100px;
    }

    .video {
        width: 600px;
        height: 330px;
    }
}

@media (max-width: 660px) {
    .intro__title {
        font-size: 44px;
        width: 80%;
    }

    .intro__subtitle,
    .intro__btn,
    .features__description-text,
    .success__start-btn,
    .product__subtitle,
    .product__btn {
        font-size: 14px;
    }

    .features__pre-title,
    .success__subtitle,
    .product__pre-title,
    .menu__item {
        font-size: 16px;
    }

    .features__title,
    .success__title,
    .product__title {
        font-size: 42px
    }

    .video {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 540px) {
    .headline {
        width: 320px;
    }

    .intro__subtitle {
        width: 320px;
    }

    .container {
        max-width: 95%;
    }

    .video {
        width: 420px;
        height: 245px;
    }
}

@media (max-width: 450px) {
    .card__img {
        width: 350px;
    }


    .video {
        width: 380px;
        height: 195px;
    }
}

@media (max-width: 340px) {
    .headline {
        width: 290px;
    }

    .card__img {
        width: 290px;
    }

    .intro__subtitle {
        width: 290px;
    }

    .video {
        width: 300px;
        height: 215px;
    }
}